# Supabase password
DB_PASSWORD=""

# Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""

#Prisma DB from Supabase
DATABASE_URL=""
DIRECT_URL=""

# Google OAuth
Google_Client_ID=""
Google_Client_Secret=""

# FaceBook OAuth
Facebook_Client_ID=""
Facebook_Client_Secret=""

# Cloudinary
CloudName=""
CLOUD_Api_Key=""
CLOUD_API_SECRET=""
CLOUDINARY_URL=""

# Esewa
NEXT_PUBLIC_APP_URL=""
# eSewa Test Credentials
ESEWA_MERCHANT_CODE=""
ESEWA_SECRET_KEY=""
ESEWA_CLIENT_ID=""
ESEWA_CLIENT_SECRET=""

# Resend
RESEND_API_KEY=""