# Supabase password
DB_PASSWORD=""

# Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""

#Prisma DB from Supabase
DATABASE_URL=""
DIRECT_URL=""

# Google OAuth
Google_Client_ID=""
Google_Client_Secret=""

# FaceBook OAuth
Facebook_Client_ID=""
Facebook_Client_Secret=""